<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5bQ5-430ZlrfbT76VqHDMZkw0B5HtcQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>173364859466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bayramyelec.ZimbaApp</string>
	<key>PROJECT_ID</key>
	<string>zimbaapp-879eb</string>
	<key>STORAGE_BUCKET</key>
	<string>zimbaapp-879eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173364859466:ios:4f96ac83abd177bbe2ccb3</string>
</dict>
</plist>